.box1 {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0rem 6rem;
  text-align: center;
  gap: 1rem;
  max-width: 1272px;
  margin: auto;
  width: 80%;
  @media screen and (max-width: 560px) {
    padding: 0 2rem 1rem;
  }

  & > :first-child {
    font-size: 15px;
    font-weight: 200;
    position: relative;
    margin: 3rem 0;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 37%;
      height: 1px;
      background: rgba(194, 194, 194, 0.705);
      top: 50%;
      transform: translateY(-50%);
      @media screen and (max-width: 750px) {
        width: 30%;
      }
      @media screen and (max-width: 470px) {
        width: 20%;
      }
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  .article {
    font-family: "Merriweather";
    font-style: italic;
    line-height: 35px;
    width: 60%;
    margin: 30px auto;
  }

  .button {
    margin: 3rem 0rem;
  }
}

.box1-img {
  width: 100%;
  min-height: 400px;
  background: url(../images/pic01.jpg) center/cover;
}
