$text-color1: #f2f3f3;
$nav-color1: #f3f3f3;
$bg-contact-color: #e9e9e9;
$text-contact-color: #696969;
$text-p-color: #e5eae6;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Chargement des polices Inter ExtraBold et Merriweather Light */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/static/Inter_18pt-ExtraBold.ttf") format("ttf");
}

@font-face {
  font-family: "Merriweather";
  src: url("/fonts/Merriweather/Merriweather-Light.ttf") format("ttf");
}

@mixin centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

h2 {
  color: black;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
  @media screen and (max-width: 560px) {
    font-size: 1.5rem;
  }
}

h3 {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 25px;
}

h4 {
  color: #808080;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  min-width: 56px;
  padding: 0 1rem;
  @media screen and (max-width: 860px) {
    padding: 0 3rem;
  }
}
